<!-- eslint-disable  -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update</title>
  </head>
  <body>
    <form action="/api/v1/update/<%= id %>/helpfound" method="POST">
      <h4>Perilous person ID: </h4 >
      <input type="text" name='status' value=<%= id %> >
      <br>
      <h4>Helper Name: </h4 >
      <input type="text" name='name' value="Sai Shanmukh" >
      <br>
      <button type="submit"> Update Status </button>
    </form>
  </body>
</html>
